@model ProductDto
@{
    var isCreate = Model?.Id == 0;
    var addOrEdit = isCreate
        ? "Add"
        : "Edit";

    ViewData["Title"] = $"{addOrEdit} Product";

    Layout = "_Layout";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Product</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item">Product</li>
                    <li class="breadcrumb-item active">@addOrEdit</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <h5 class="card-title mb-0 flex-grow-1">Product</h5>
                <div>
                    <a asp-action="Index" class="btn btn-primary btn-label waves-effect waves-light">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <i class="ri-arrow-left-line label-icon align-middle fs-16 me-2"></i>
                            </div>
                            <div class="flex-grow-1">
                                Go to List
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="card-body">
                <form class="row g-3 needs-validation" asp-action="AddEdit" enctype="multipart/form-data">
                    <input class="form-control" asp-for="Id" type="hidden" readonly>
                    <div class="col-md-4">
                        <label class="form-label">Product Name</label>
                        <span class="text-danger">*</span>
                        <input class="form-control" asp-for="Name" maxlength="100" required>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Model No</label>
                        <span class="text-danger">*</span>
                        <input class="form-control" asp-for="ModelNo" maxlength="50" required>
                        <span asp-validation-for="ModelNo" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Price</label>
                        <span class="text-danger">*</span>
                        <input class="form-control" asp-for="Price" onkeypress="return isNumberKey(event, this);" required>
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Select Accessories</label>
                        <span class="text-danger">*</span>
                        <select class="js-example-basic-multiple" asp-for="Accessories"
                                asp-items="Model.SelectListsForAccessories" onchange="displayMenu(isEdit(window.location.pathname.split('/')))" multiple="multiple">
                        </select>
                        <span asp-validation-for="Accessories" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Select Categories</label>
                        <span class="text-danger">*</span>
                        <select class="js-example-basic-multiple" asp-for="Categories"
                                asp-items="Model.SelectListsForCategories" onchange="displayMenu(isEdit(window.location.pathname.split('/')))" multiple="multiple">
                        </select>
                        <span asp-validation-for="Categories" class="text-danger"></span>
                    </div>
                    @{
                        var display = isCreate ? "none" : "initial";
                    }

                    <div class="col-md-12" style="display:@display" id="PAdiv">
                        <label class="form-label">Product Accessories</label> <br />
                        <ul class="list-group" id="PAList">
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <label class="form-label">Description</label>
                        <span class="text-danger">*</span>
                        <textarea class="form-control ckeditor-classic" asp-for="Description" rows="2" maxlength="250" required></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="col-md-6" id="ImageApped">
                        <label class="form-label">Upload Image <span class="text-info">(Only images are allowed.)</span></label>
                        <input class="form-control md-2" asp-for="ImageFiles" accept="image/*" multiple>
                        @{
                            if (!isCreate)
                            {
                                for (var i = 0; i < Model?.Images?.Count; i++)
                                {
                                    var id = $"existingDiv{Model.Images[i].Id}";
                                    <div class="profile-user position-relative d-inline-block mx-auto mt-3" id="@id">
                                        <img id="imageContainer" src="@Model.Images[i].Image" class="rounded-squre avatar-xl img-thumbnail shadow" alt="accessories-image">
                                        <div class="avatar-xs p-0 rounded-circle profile-photo-edit">
                                            <label for="profile-img-file-input" class="profile-photo-edit avatar-xs" onclick='deleteImage(@Model.Images[i].Id)'>
                                                <span class="avatar-title rounded-circle bg-light text-body shadow">
                                                    <i class="ri-delete-bin-line"></i>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Upload Video <span class="text-info">(Only videos are allowed.)</span></label>
                        <input class="form-control md-2" asp-for="VideoFile" accept="video/*">
                        <div class="profile-user position-relative d-inline-block mx-auto mt-3" id="videoDiv">
                            @{
                                if (Model?.Video is not null)
                                {
                                    <video width="320" height="240" id="videoId" controls>
                                        <source src="@Model.Video">
                                    </video>
                                    <div class="avatar-xs p-0 rounded-circle profile-photo-edit">
                                        <label for="profile-img-file-input" class="profile-photo-edit avatar-xs" onclick="deleteVideo(@Model.Id)">
                                            <span class="avatar-title rounded-circle bg-light text-body shadow">
                                                <i class="ri-delete-bin-line"></i>
                                            </span>
                                        </label>
                                    </div>
                                }
                            }

                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-secondary btn-label waves-effect waves-light">
                            <i class="ri-check-double-line label-icon align-middle fs-16 me-2"></i>
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/custom/productaddedit.js"></script>
}