@model ProductDto
@{
    ViewData["Title"] = "Detail Product";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Product</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item">Product</li>
                    <li class="breadcrumb-item active">Detail</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <h5 class="card-title mb-0 flex-grow-1">Product</h5>
                <div>
                    <a asp-action="Index" class="btn btn-primary btn-label waves-effect waves-light">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <i class="ri-arrow-left-line label-icon align-middle fs-16 me-2"></i>
                            </div>
                            <div class="flex-grow-1">
                                Go to List
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="card-body row g-3">
                <div class="col-md-4">
                    <label class="form-label">Product Name</label>
                    <label class="form-control">@Model.Name</label>
                </div>

                <div class="col-md-4">
                    <label class="form-label">Model No</label>
                    <label class="form-control">@Model.ModelNo</label>
                </div>

                <div class="col-md-4">
                    <label class="form-label">Price</label>
                    <label class="form-control">@Model.Price</label>
                </div>

                <div class="col-md-12">
                    <label class="form-label">Description</label>
                    <textarea class="form-control ckeditor-classic" asp-for="Description" rows="2" readonly></textarea>
                </div>

                <div class="col-md-12">
                    <label class="form-label">Product Accessories</label> <br />
                    <ul class="list-group">
                        @foreach (var item in Model.AccessoriesQuantity)
                        {
                            <li class="list-group-item">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        @if (item.Image is not null)
                                        {
                                            <img src="@item.Image" alt="" class="avatar-xs rounded-circle">
                                        }
                                    </div>
                                    <div class="flex-grow-1 ms-2">
                                        @Model.SelectListsForAccessories.Where(x => x.Value == item.AccessoriesId.ToString()).FirstOrDefault()?.Text
                                    </div>
                                    <div class="flex-grow-2 ms-2" style="position:relative;right:60%;">
                                        @item.Quantity
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                @{
                    if (Model.Images is { Count: > 0 })
                    {
                        <div class="col-md-6">
                            <label class="form-label">Product Image</label><br />
                            @for (int i = 0; i < Model.Images.Count; i++)
                            {
                                <div class="profile-user position-relative d-inline-block mx-auto  mb-4">
                                    <img src="@Model.Images[i].Image" class="rounded-squre avatar-xl img-thumbnail shadow" alt="accessories-image">
                                </div>
                            }
                        </div>
                    }

                    if (Model.Video is not null)
                    {
                        <div class="col-md-6">
                            <div class="profile-user position-relative d-inline-block mx-auto  mb-4">
                                <video width="320" height="240" id="videoId" controls>
                                    <source src="@Model.Video">
                                </video>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>