@model ProductDto
@{
    ViewData["Title"] = "Detail Product";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Product</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item">Product</li>
                    <li class="breadcrumb-item active">Detail</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <h5 class="card-title mb-0 flex-grow-1">Product</h5>
                <div>
                    <a asp-action="Index" class="btn btn-primary btn-label waves-effect waves-light">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <i class="ri-arrow-left-line label-icon align-middle fs-16 me-2"></i>
                            </div>
                            <div class="flex-grow-1">
                                Go to List
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="card-body row g-3">
                <div class="col-md-3">
                    <label class="form-label">Product Name</label>
                    <label class="form-control">@Model.Name</label>
                </div>

                <div class="col-md-4">
                    <label class="form-label">Model No</label>
                    <label class="form-control">@Model.ModelNo</label>
                </div>

                <div class="col-md-4">
                    <label class="form-label">Price</label>
                    <label class="form-control">@Model.Price</label>
                </div>

                <div class="col-md-4">
                    <label class="form-label">HSN Number</label>
                    <label class="form-control">@Model.HsnNo</label>
                </div>

                <div class="col-md-8">
                    <label class="form-label">Categories</label>
                    @{
                        var catagoriesNameList = Model.ProductCategories.Select(x => x.Category.Name).ToList();
                    }
                    <label class="form-control item-group">
                        @{
                            foreach (var item in catagoriesNameList)
                            {
                                <span class="badge badge-soft-secondary">@item</span>
                            }
                        }
                    </label>
                </div>

                <div class="col-md-12" id="PAdiv">
                    <label class="form-label">Product Accessories</label>
                    <span class="text-danger">*</span>
                    <span class="text-info">(Fill Accessories quantity for stock management purpose.)</span>
                    <br />
                    <ul class="list-group" id="PAList">
                        @await Html.PartialAsync("_AccessoryQuantity", Model)
                    </ul>
                </div>

                <div class="col-md-12">
                    <label class="form-label">Description</label>
                    <div class="ck ck-content ck-rounded-corners ck-editor__editable_inline">
                        @Html.Raw(Model.Description)
                    </div>
                </div>

                @{
                    if (Model.ProductImages is { Count: > 0 })
                    {
                        <div class="col-md-6">
                            <label class="form-label">Product Image</label><br />
                            @for (var i = 0; i < Model.ProductImages.Count; i++)
                            {
                                <div class="profile-user position-relative d-inline-block mx-auto  mb-4">
                                    <img src="@Model.ProductImages[i].Image" class="rounded-squre avatar-xl img-thumbnail shadow" alt="accessories-image">
                                </div>
                            }
                        </div>
                    }

                    if (Model.Video is not null)
                    {
                        <div class="col-md-6">
                            <div class="profile-user position-relative d-inline-block mx-auto  mb-4">
                                <video width="320" height="240" id="videoId" controls>
                                    <source src="@Model.Video">
                                </video>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>