@model CustomerDto
@{
    ViewData["Title"] = "Detail Customer";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Customer</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item">Customer</li>
                    <li class="breadcrumb-item active">Detail</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <h5 class="card-title mb-0 flex-grow-1">Customer</h5>
                <div>
                    <a asp-action="Index" class="btn btn-primary btn-label waves-effect waves-light">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <i class="ri-arrow-left-line label-icon align-middle fs-16 me-2"></i>
                            </div>
                            <div class="flex-grow-1">
                                Go to List
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="card-body row g-3">
                <div class="col-md-6">
                    <label class="form-label">First Name</label>
                    <label class="form-control">@Model.FirstName</label>
                </div>

                <div class="col-md-6">
                    <label class="form-label">Last Name</label>
                    <label class="form-control">@Model.LastName</label>
                </div>

                <div class="col-md-6">
                    <label class="form-label">Email Address</label>
                    <label class="form-control">@Model.Email</label>
                </div>

                <div class="col-md-6">
                    <label class="form-label">Mobile number</label>
                    <label class="form-control">@Model.PhoneNo</label>
                </div>

                <div class="col-md-12">
                    <label class="form-label">Address</label>
                    <label class="form-control">@Model.Address</label>
                </div>

                <div class="col-md-6">
                    <label class="form-label">City</label>
                    <label class="form-control">@Model.City</label>
                </div>

                <div class="col-md-6">
                    <label class="form-label">Pincode</label>
                    <label class="form-control">@Model.PinCode</label>
                </div>

                <div class="col-md-6">
                    <label class="form-label">GST Number</label>
                    <label class="form-control">@Model.GstNumber</label>
                </div>

                @if (Model.Image is not null)
                {
                    <div class="col-md-6">
                        <label class="form-label">Profile Image</label><br />
                        <div class="profile-user position-relative d-inline-block mx-auto  mb-4">
                            <img src="@Model.Image" class="rounded-squre avatar-xl img-thumbnail shadow" alt="accessories-image">
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="card">
            <div class="card-header d-flex align-items-center">
                <h5 class="card-title mb-0 flex-grow-1">Customer Bank Details</h5>
            </div>
            <div class="card-body row g-3">
                <div class="col-md-6">
                    <label class="form-label">Bank Holder Name</label>
                    <label class="form-control">@Model.AccountHolderName</label>
                </div>

                <div class="col-md-6">
                    <label class="form-label">Bank Name</label>
                    <label class="form-control">@Model.BankName</label>
                </div>

                <div class="col-md-6">
                    <label class="form-label">Branch Name</label>
                    <label class="form-control">@Model.BranchName</label>
                </div>

                <div class="col-md-6">
                    <label class="form-label">Account Number</label>
                    <label class="form-control">@Model.AccountNumber</label>
                </div>

                <div class="col-md-6">
                    <label class="form-label">IFSC Code</label>
                    <label class="form-control">@Model.IfscCode</label>
                </div>
            </div>
        </div>
    </div>
</div>